[submodule "pack/william/start/vim-sensible"]
	path = pack/william/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/william/start/lightline.vim"]
	path = pack/william/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/william/start/ultisnips"]
	path = pack/william/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/william/start/vim-snippets"]
	path = pack/william/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/william/start/vim-fugitive"]
	path = pack/william/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
